@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap");
/* Products' div */
.item__box {
  width: 300px;
  height: 346px;

  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;

  margin: 10px;
}
/* Imagens */
.item__box img {
  width: 170px;
  height: 165px;
}

.img__box {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Products' Name*/
.item__box h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  color: #333333;

  margin-left: 20px;
}

/* Products' Category */
.item__box span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #828282;

  margin-left: 20px;
}
/* Products' Price */
.item__box h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #27ae60;

  margin-left: 20px;
}
/* Button */
.btn {
  width: 106px;
  height: 40px;

  background: #27ae60;

  border: 2px solid #27ae60;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;

  margin-left: 20px;
}

.btn:hover {
  cursor: pointer;
  width: 111px;
  height: 45px;
}
