.Store {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: auto;
  width: 100vw;
  margin: 0;
}

@media (min-width: 700px) {
  .Store {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .Store {
    width: 1000px;
  }
}
